<html>

<head>
  <title>Welcome</title>
</head>
<body>
<form action="/profile/insert" method="post">
  <h2 align="center">Profile</h2>
  <table align="center">
    <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Indian</th>
    <th></th>
    </thead>
  </table>
</form>
</body>
</html>