<html>

<head>
  <title>Welcome</title>
</head>
<body>
<form action="/profile/insert" method="post">
  <h2 align="center">Profile</h2>
  <table align="center">
    <tr>
      <td>First Name:</td>
      <td><input type="text" name="fname"></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" name="lname"></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><input type="text" name="address"></td>
    </tr>
    <tr>
      <td>Is Indian:</td>
      <td><input type="checkbox" name="indian" value="indian"></td>
    </tr>
    <tr>
      <td>Hobbies</td>
      <td><label>Music</label><input type="checkbox" value="music" name="hobbies">
        <label>Game</label><input type="checkbox" value="game" name="hobbies"></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><input type="date" name="dob"></td>
    </tr>
    <tr>
      <td>Vehicle No</td>
      <td><input type="text" name="vehicalno"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Profile"></td>
    </tr>
  </table>
</form>
</body>
</html>